body{
    font-family: 'poppins', serif;
    background-color: #f1f1f1;
    background-image: url('../images/concrete_seamless.png');
    text-align: center;
}
header{
   display: flex;
   justify-content: center;
   flex-direction:column;
   align-items: center;
}
.nav_links{
    display: flex;
    flex-direction:column;
}
.nav_item a:visited{
    color: blue;
}
.card > header {
    display: flex;
    flex-direction: row;
    background-color: #288088;
    border: 2px solid #45ADAD;
    padding: 20px 0px 20px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    
}

.pricing{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.card{
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    flex-basis: 450px;
}

 .gallery img{
    border: 10px solid #50C7C7;
    margin: 10px;
    width: 300px;
}

.gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
#logo{
    animation: grow 5s ease-in
}

@media screen and (min-width: 900px){
   header, .nav_links{
       flex-direction: row;
       justify-content: space-between;
   } 
   .card{
       flex-basis: 250px;
       text-align: left;
   }
   .card li:nth-child(1){
       font-size: 90%;
   }
   .pricing{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
   }
   h3{
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
   }
   body > header{
       position: sticky;
       top: 0px;
   }
}

@keyframes grow {
    from {
        width: 25px;
        opacity: 0;
    }
    to {
        width:475px;
        opacity: 1;
    }
}

@media screen and (prefers-reduced-motion: reduce){
    #logo{
        animation: initial;
    }
}

@media print{
    body{
        background: #f1f1f1;
        font-family:Arial, Helvetica, sans-serif;
    }

    nav, .nav_links{
        display: flex;
        flex-direction: row;
        width: 1006px;
        justify-content: space-around;
    }

    .pricing{
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-end;
    }
    .card{
        border: 2px solid #45ADDD;
        flex-basis: 325px;
        
    }
    #gallery, .gallery{
        display: none;
    }
    .card li:nth-child(2)::after {
        content: "\1F44D";
    }
}